.root {
  -fx-text-fill: #D6D6D7;
  -fx-background-color: #012169;
}

.label {
  -fx-text-fill: #D6D6D7;
}

.button,
.color-picker,
.choice-box {
  -fx-text-fill: #D6D6D7;
  -fx-background-color: #00539B;
}

. button:armed,
.color-picker:armed,
.choice-box:armed {
  -fx-background-color: #1d84de;
}